<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .center {
          text-align: center;
          padding: 150px 0;
        }
    </style>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
<div style="height: 330px;width: 40%;background-color: powderblue;">
    <div class="center">
        YOU HAVE LOGGED IN SUCCESSFULLY 
    </div>
</div>
</main>

</body>
</html>
